.App {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-family: "Lato", serif;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/*My Custom CSS*/
.introduction{
    padding-top:15vh;
}
/*Header or NavBar*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color:  #262626;
}

.header h3{
    font-weight: bold;
    font-size:1.4em;
    display: inline-block;
    margin-left:15px;
    margin-right:15px;
}

/*Anchor Link*/
.anchorLink{
    background: -webkit-linear-gradient(45deg,#c39d63, #fad8a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 2s ease-out 1s;
}
.anchorLink:hover{
    background: -webkit-linear-gradient(45deg,#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 4px;
    background: #1a1a1a;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 4px;
    background: -webkit-linear-gradient(0.75turn,#c39d63, #fad8a0);
    width: 0%;
}


/*Introduction*/
.myName {
    text-align:left;
    height:90vmin;
    font-size:12em;
    cursor: default;
}

.myName h1{
    font-size: 100%;
    line-height: 0.85em;
    transition: 1s;
    color: #737373;
}
.myName h1:hover {
    color: white;
    transition: 2s;
    transform: translate(5px);
}

/*Animated Paragraph*/
.myName h3{
    color:#c8c8c8;
    font-family: 'Raleway', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #fad8a0; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    font-size:40px;
    margin-top:0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    transition: 1s;
    animation:
            typing 2.5s steps(30, end),
            blink-caret 1s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fad8a0 }
}

.picture{
    margin-top:3vh;
}

.picture img{
    border-radius: 50%;
}

.content{
    margin-top:20px;
}

/*Projects*/
.projects{
    padding-top:2vh;
    padding-bottom:2vh;
    background-color:white;
    min-height: 600px;
}

/*Skills*/
.skills{
    min-height: 600px;
}

.resume{
    background-image: url("./img/wallpaper.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 800px;
}

.contact{
    min-height: 600px;
}



